.footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  background-color: rgb(255, 187, 0);
  color: white;
 // height: 40px;
  padding-top: 5px;
  display: flex;
align-items: center;
justify-content: center;
margin-top: 100px;
padding-top: 10px;
padding-bottom: 10px;
}
mat-form-field,.mat-select-panel {
  border-color: white;
  background-color: rgb(255, 187, 0);
  color: white;
  padding-left: 10px;
  padding-right: 0;
  text-align: center;
  border: 1px solid;
  width: 100px;
  height: 30px;
    padding: 0px;
    border-radius: 5px  ;


 mat-option{
    border-color: white;
    background-color: rgb(255, 187, 0);
    color: white;
    padding: 0px;
  }

}



select{
  border-color: white;
  background-color: rgb(255, 187, 0);
  color: white;
  padding-left: 10px;
  padding-right: 0;
  text-align: center;

}

select.decorated option:hover {
  box-shadow: 0 0 10px 100px #1882A8 inset;
}

@media (max-width: 768px) {
  .mat-form-field{
    max-width: auto;
    margin:0em;
    text-align: center;
    box-shadow: none;
  }
 }


 ::ng-deep.mat-form-field-infix{
   border-top: none;
  padding: 0;

}
