mat-card {

  padding-bottom: 9%;
  margin:0 auto;
  max-width:500px;
  text-align: center;
  background-color: white;
  color: black;
}

mat-form-field {
  display: block;
}
mat-label{
  margin-bottom: 50px;
}
mat-label
{
  margin-bottom: 25px;
}
.champ{
  text-align: left;padding-left: 24%;
  margin-top: -10px;
}
input{
  max-width:400px;
	width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  height: 34px;
  margin-top: 5px;
  margin-bottom: 30px;

   border-width: thin;
   border:2px solid  rgb(176, 177, 175);
}
.container-forget-password{
  text-align: left;padding-left: 24%;
  margin-bottom: 20px;
}
#forgotten-password{
  color: darkcyan;font-weight: bold;
  background-color: white;
  cursor: pointer;
  margin-top: -20px;
}
#btn-creer-compte{

  line-height:2;
  padding-inline-start:5px;
  padding-inline-end:5px;
  font-size:small;
  color:darkcyan;
  background-color: white;
  border:gray 1px solid;
  box-shadow: 5px 3px 3px 3px gray;
  font-weight: bold;
  display: table-column;

}
#btn-connexion{
 // margin-left:10px;
  //float: right;
  line-height:2;
display: table-column;
  padding-inline-start:5px;
  padding-inline-end:5px;
  font-size:small;
  color:white;
  background-color:  darkcyan;
  font-weight: bold;
}
.container-btn{
  text-align: left;
  padding-left: 24%;
  max-width:400px;
	width: 80%;

}
@media (max-width: 767px) {
  mat-card{
    max-width: auto;
    margin-top:10%;
    text-align: center;
    box-shadow: none;
    border: none;

  }
  .champ{
    text-align: left;
    padding-left: 10%;
    padding-right: 15%;

  }
  input{
    width: 106%;

  }
  .container-forget-password,.container-btn{
    padding-left: 10%;

  }
 }


 @media (min-width: 768px) {
  
  mat-card{
    margin-left: auto;
  margin-right: auto;
  display: table;
  border:1px whitesmoke solid;
    input{
      width:90%;

    }
    .champ{
      padding-left: 10%;
    }
    .container-forget-password, .container-btn{
      padding-left: 10%;
    }
  }
 }

#logo-position{
  width: 130px;
  margin-top: 20px;
}

#logo-welcome{
  margin-bottom:40px;
  width: 90%;
  margin-top: -25px;
}
