<mat-card style="">
  <div class="conatiner">
    <img id="logo-position" mat-card-image src="assets/logo-nom.svg" alt="logo position">

  </div>
  <img id="logo-welcome" mat-card-image src="assets/welcome-large.svg" alt="logo position">

  <mat-card-content>
    <form  class="form" [formGroup]="loginForm" (submit)="submit()">


        <div class="champ form-group" fxLayout="column" >
          <div>
            <mat-label >Email</mat-label>
          </div>
          <div>
            <input type="text"   formControlName="email"  name="email" id="email" class="form-control"required>

          </div>
        </div>


        <div class="champ form-group" fxLayout="column" >
          <div>
            <mat-label>Mot de passe</mat-label>
          </div>
          <div>
            <input type="text"   formControlName="password" name="password" id="password" class="form-control" required>

          </div>
        </div>
        <div class="container-forget-password" fxLayout="row" >
          <a id="forgotten-password" type="button"  (click)='resetPwdPage()'>
            mot de passe oublié?
          </a>

      </div>

      <div class="container-btn" fxLayout="row"  fxLayoutGap="2%" >
          <div fxLayoutAlign="start start">
            <button mat-raised-button id="btn-creer-compte" (click)="registerPage()">Créer un compte</button>

          </div>
          <div fxLayoutAlign="end end">
            <button mat-raised-button class="float-end" id="btn-connexion" type="submit">connexion</button>

          </div>
        </div>

    </form>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
