
/*#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  margin: 0;


}

@media (max-width: 283px){
  #map{
  margin:0px
  }



app-fiche-entreprise {
  position: absolute;
  left: -310px;
  top: 0px;
  bottom: 0px;
  width: 310px;
  transition: 0.5s;
  background: #fff;
  z-index: 2;
  //overflow-y: auto;
  margin-right: 0px;
}
app-etablissement{
  position: absolute;
  left: -360px;
  top: 0px;
  bottom: 0px;
  width: 360px;
  transition: 0.5s;
  background: #fff;
  z-index: 3;
  overflow-y: auto;
}
app-vertical-toolbar{
  position: absolute;
  bottom:10px;
    right:0px;

}
app-login
{
  top: 0px;
  bottom: 0px;
  background: white;
  position: absolute;
  z-index: 2;
}
*/

.mat-drawer{
  overflow-y: unset;
}
::ng-deep .mat-drawer-container, .mat-drawer-content  {
   background-color:none;


}
.mat-drawer-container, .mat-drawer-content  {
  position: static;
}
.sidenav-container {
  width: 100%;
  height: 100%;

}

.sidenav-left {
  width: 350px;
  //padding: 5px;
  border: none !important;
  //height: 100%;
  background-color:white;
  //z-index: 1;
 //color: black;


app-fiche-entreprise {

  position: absolute;
  left: -350px;
  top: 0px;
  bottom: 0px;
  width: 350px;
  transition: 0.5s;
  background-color: #fff;
  z-index: 7;
  //overflow-y: auto;
  margin-right: 0px;
}
  app-profil {
    position: absolute;
    left: -430px;
    top: 0px;
    bottom: 0px;
    width: 430px;
    transition: 0.5s;
    background: #fff;
    z-index: 2;
    overflow-y: auto;
  }


}



.sidenav-content {
  margin:0px;
  padding: 0px;
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

  }
  app-vertical-toolbar{
    z-index: 1;
   /* position: absolute;
     margin-left: 10px;
     */
     position: absolute;
  bottom:40px;
    right:0;
  // margin-right: 30px;
  width:40px;

  }

}

@media (width: 540px){
  .header
  {

    visibility: visible;
    text-align: center;
    background-color:transparent;
    color: white;
    //font-size: 30px;
    position:relative;
      top:0;
      width:100%;
      z-index:1;

  }


  .sidenav-left {
    width: 0px;
    height: 0px;
    padding: 0px;

    }
}

@media (max-width:414)  {
  .sidenav-left {
    display: none;
  }
  .header {

    display: block;
    text-align: center;
    background-color:white;
    color: white;
    //font-size: 30px;
    position:absolute;
      top:0;
      width:100%;
      z-index:1;
  }

}
  @media (max-width:400px)  {
    .header
  {

    visibility: visible;
    text-align: center;
    background-color:transparent;
    color: white;
    //font-size: 30px;
    position:absolute;
      top:0;
      width:100%;
      z-index:1;
  }

  .sidenav-left {
    width: 0px;
    height: 0px;
    padding: 0px;

    }
  }

  @media(min-width:400px)and  (max-width: 414px){
    .header
    {

      visibility: visible;
      text-align: center;
      background-color:transparent;
      color: white;
      //font-size: 30px;
      position:absolute;
        top:0;
        width:100%;
        z-index:1;
    }

    .sidenav-left {
      width: 0px;
      height: 0px;
      padding: 0px;

      }
  }


@media (max-width: 414px){
  .header
  {

    visibility: visible;
    text-align: center;
    background-color:transparent;
    color: white;
    //font-size: 30px;
    position:fixed;
      top:0;
      width:100%;
      z-index:1;
  }

  .sidenav-left {
    width: 0px;
    height: 0px;
    padding: 0px;

    }
}


