<ng-container *ngIf="form">
  <form [formGroup]="form" class="header-search-form col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

    <img  class="" src="assets/icon/icon-menu.svg" *ngIf="!form.get('searchWord')?.value"/>
    <img   class="" src="assets/icon/icon-arrow_left.svg" *ngIf="form.get('searchWord')?.value"/>

    <mat-form-field appearance="fill" class="">


          <input type="text" matInput formControlName="searchWord" [matAutocomplete]="auto" class=" white "
    placeholder="Rechercher un établissement, un lieu..." onfocus="this.placeholder = ''"
    onblur="this.placeholder = 'Search'">






      <mat-autocomplete #auto="matAutocomplete" [panelWidth]="317"  [displayWith]="displayAutocompleFn"
      (optionSelected)="optionAutocomplteSelected($event)" style="width: 317px;">
      <mat-option *ngIf="isLoading" >
        <mat-spinner style="display: block;
  margin-left: auto;
  margin-right: auto" diameter="35"></mat-spinner>
      </mat-option>
      <div *ngIf="!isLoading">

        <ng-container *ngFor="let option of objectsIn(filterOptions) "
          >
          <mat-option *ngFor="let item of filterOptions[option]"  [value]="item">
      <!--      <ng-container *ngIf="option === 'souscategories'">
              {{item.name}}
              <span *ngIf="item.ref" style="color:black"> - {{item.ref}} </span>
              <br>
              <small> {{item.limitName}} </small>
            </ng-container>

            <ng-container *ngIf="option === 'nominatim'" style="color:black">
              {{item.name}}
              <br>
              <small> {{item.details}} </small>
            </ng-container>
          -->


            <ng-container *ngIf="option === 'etablissements'">
              <table style="margin-top: 20px;" *ngIf="item.logo">
                  <tr >

                    <td >
                      <img src="{{item.logo}}" alt="categorieLogo" />

                    </td>
                    <td>
                      <tr>
                        {{item.name}}
                      </tr>
                      <tr>
                        <small> {{item.details}} </small>
                      </tr>
                    </td>
                  </tr>

              </table>
                <br>

            </ng-container>



          </mat-option>
        </ng-container>
      </div>
    </mat-autocomplete>
    </mat-form-field>
    <img  matSuffix class="" src="assets/icon/icon-clear.svg" *ngIf="form.get('searchWord')?.value"
    (click)="clearSearch()"/>



     <!--<img MatPrefix class="" src="assets/icon/icon-perm_identity.svg" />-->


  </form>
</ng-container>



