<ng-container *ngIf="form">
  <form [formGroup]="form" class="header-search-form col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <mat-form-field appearance="fill" class="">

      <table class="example-full-width" cellspacing="0">
        <tr>
        <td> <img  class="" src="assets/icon/icon-menu.svg" *ngIf="!form.get('searchWord')?.value"/>
          <img   class="" src="assets/icon/icon-arrow_left.svg" *ngIf="form.get('searchWord')?.value"/>
        </td>
        <td >
          <input type="text" matInput formControlName="searchWord" [matAutocomplete]="auto" class=" white "
    placeholder="Rechercher un établissement, un lieu..." onfocus="this.placeholder = ''"
    onblur="this.placeholder = 'Search'">

        </td>
        <td>
          <div  style="width: 24px;">
            <img  matSuffix class="" src="assets/icon/icon-clear.svg" *ngIf="form.get('searchWord')?.value"
          (click)="clearSearch()"/>
          </div>

          </td>

        <td style="padding-left:2px;border-spacing:20px;border-left:grey solid 1px;">

            <img MatPrefix class="" src="assets/icon/icon-perm_identity.svg"  style="margin-right: 5px;"/>



        </td>
      </tr></table>










      <mat-autocomplete #auto="matAutocomplete" [panelWidth]="317"  [displayWith]="displayAutocompleFn"
      (optionSelected)="optionAutocomplteSelected($event)" style="width: 317px;">
      <mat-option *ngIf="isLoading" style="background-color: white;">
        <mat-spinner style="display: block;
  margin-left: auto;
  margin-right: auto" diameter="35"></mat-spinner>
      </mat-option>
      <div *ngIf="!isLoading">

        <mat-optgroup *ngFor="let option of objectsIn(filterOptions) " [label]="'search.'+[option]"
          [hidden]="filterOptions[option].length === 0">
          <mat-option *ngFor="let item of filterOptions[option]" [value]="item">
            <ng-container *ngIf="option === 'souscategories'">
              {{item.name}}
              <span *ngIf="item.ref"> - {{item.ref}} </span>
              <br>
              <small> {{item.limitName}} </small>
            </ng-container>

            <ng-container *ngIf="option === 'nominatim'">
              {{item.name}}
              <br>
              <small> {{item.details}} </small>
            </ng-container>


            <ng-container *ngIf="option === 'etablissements'">
              {{item.name}}
              <br>
              <small> {{item.details}} </small>
            </ng-container>



          </mat-option>
        </mat-optgroup>
      </div>
    </mat-autocomplete>
    </mat-form-field>
  </form>
</ng-container>



