.header-search-form{
  width: 317px;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  z-index: 2;
  max-height:35px;
   border: 2px solid white;
   border-radius: 10px;

   background-color:white;
   text-align: center;
   line-height: 10;
   padding: 5px;
  display: flex;
align-items: center;

::ng-deep .mat-form-field-infix {
  width: initial;
}

  /*::ng-deep .mat-form-field-infix {
    padding-top: 0px;
    border: none;
    padding-left: 6px;

    ::-webkit-input-placeholder {
      color:black;
    }

    ::placeholder {
      color:black;
    }

    :-moz-placeholder {
      color:black;
    }
  }
*/
 /* ::ng-deep .mat-form-field-flex {
    background: rgba(255, 255, 255, 0.41);
    height: 32px;
    border-radius: 20px;
  }
*/
/*  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-top: 12px;
  }
}

::ng-deep .mat-optgroup-label {
  background-color: #f2f7fa;
}


*/
}

::ng-deep .mat-autocomplete-panel
  {
  margin-left: -35px;
  margin-top: 10px;
  background-color: white;
  color:black;
}
.mat-option {
  height: 50px;
  line-height: 18px;
  color: black;

  .header-search-form-option-img {
    height: 32px;
    width: 32px;
    float: left;
    margin-right: 10px;
  }

  .header-search-form-option-badge {
    float: right;
    margin-top: 10px;
    margin-right: 7px;
  }
}

::ng-deep .mat-optgroup-label{
  color:black;
}
.outerContainer {
  padding: 5px;
  border: 1px solid #b6b6b6;
  box-sizing: content-box;
}

div.container {
  color: #eeeeee;
  margin-bottom: 10px;
}

div.container > div {
  height: 50px;
  width: 50px;
  background-color: blue;
}


::ng-deep .mat-form-field-underline {
  display: none;
  //background-color:red;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;

}
.mat-form-field{
  display: flex;
  justify-content: flex-start;
  align-items: center;
 // box-sizing: border-box;
   width: 100%; //or any percentage width you want
   height: 46px;
}

/*
::ng-deep .mat-form-field-appearance-fill {
  border-radius: 4px 4px 0 0;
padding: .75em .75em 0 .75em;


}*/
input{

  margin-right: 0px;

 // width: 350px;
  //background-color: blue;
  height:18px;
  color: black;
  font-size: 12px;
     // max-width: inherit;
  //max-width: 235px;
  width: 230px;

}

@media (min-width:323px) and (max-width: 400px) {
 ::ng-deep  .mat-autocomplete-panel{
   margin: auto;
   margin-top: 10px;

  }
  input{
   //
width:250px;
//margin: 0 auto;
  }
.header-search-form {
border: none;
border-radius: 0px;
    width: 100%;
}
.mat-autocomplete-panel {
  margin: auto;
}
}

@media(min-width:400px)and  (max-width: 414px) {
  ::ng-deep  .mat-autocomplete-panel{
    margin: auto;
    margin-top: 10px;
  }
  input{
   //
width:290px;
//margin: 0 auto;
  }
.header-search-form {

  border: none;
  border-radius: 0px;
      width: 100%;
      margin: 0px;
}

}
@media (min-width:414) and (max-width:576px){
  ::ng-deep  .mat-autocomplete-panel{
    margin: auto;
    margin-top: 10px;
  }
  input{
   //
width:290px;
//margin: 0 auto;
  }
.header-search-form {
  border: none;
  border-radius: 0px;
      width: 100%;
      margin: 0px;

}

}

@media (width: 320px) {
  ::ng-deep  .mat-autocomplete-panel{
    //margin-left: -2px;
  //margin: auto;
  //  margin-right: -20px;
   // margin-top: 10px;
  }
  input{
   //
width:200px;
//margin: 0 auto;
  }
.header-search-form {
  border: none;
  border-radius: 0px;
      width: 100%;
      margin: 0px;
}

}

@media (width: 280px) {
  ::ng-deep  .mat-autocomplete-panel{
   // margin: auto;
    margin-top: 10px;
  }
.header-search-form {

  border: none;
  border-radius: 0px;
      width: 100%;
      margin: 0px;
}
input{
  width: 180px;
}

}

@media (width: 540px) {
  ::ng-deep  .mat-autocomplete-panel{
    margin: auto;
    margin-top: 10px;
  }
  input{
   //
//width:420px;
//margin: 0 auto;
  }
.header-search-form {

  border: none;
  border-radius: 0px;
      width: 100%;
      margin: 0px;
}

}


.white{

}

img{

  width: 18px;
  margin-right: 10px;
  margin-top: -3px;
}


::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke:#05BF95;
  background-color: blanchedalmond;
}

::ng-deep .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover){
  background-color: white;
}
::ng-deep .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
   color: black;
}
.mat-autocomplete-panel
{
  width: 100vw;
}

::-webkit-scrollbar {
  width: 10px;
}
