<mat-card >
  <div class="conatiner">
    <img id="logo-position" mat-card-image src="assets/logo-nom.svg" alt="logo position" >

  </div>
  <img id="logo-welcome" mat-card-image src="assets/welcome-large.svg" alt="logo position">

  <mat-card-content>
    <form class="form" [formGroup]="resetPasswordForm" (submit)="submit()">



        <div class="champ" fxLayout="column" >
          <div>
            <mat-label >Email</mat-label>
          </div>
          <div>
            <input type="email"   formControlName="email" required>

          </div>
        </div>





      <div class="container-btn" fxLayout="row"  fxLayoutGap="2%" >
          <div fxLayoutAlign="start start">
            <button mat-raised-button id="btn-creer-compte">Réinitialiser</button>

          </div>

        </div>

    </form>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
