<mat-card >
  <div class="conatiner">
    <img id="logo-position" mat-card-image src="assets/logo-nom.svg" alt="logo position" >

  </div>
  <img id="logo-welcome" mat-card-image src="assets/welcome-large.svg" alt="logo position">

  <mat-card-content>
    <form class="form" [formGroup]="resetPasswordForm" (submit)="submit()">



        <div class="champ" fxLayout="column" >
          <div>
            <mat-label >Email ou numéro de téléphone</mat-label>
          </div>
          <div>
            <input type="email"   formControlName="email" required>

          </div>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback" style="margin-top: -30px;margin-bottom: 30px;color: red;">
            <div *ngIf="f.email.errors.required">Email ou téléphone obligatoire</div>
            <div *ngIf="f.email.errors.emai l">Email ou téléphone invalide </div>
          </div>
        </div>
        <div class="champ" fxLayout="column" >
          <div class="container-btn">
            <!--   <button class="btn-sm" mat-raised-button id="btn-creer-compte" (click)="registerPage()">Créer un compte</button>
            -->
               <button class="btn-sm" mat-raised-button  id="btn-connexion" type="submit" >Reinitialiser</button>

         </div>
        </div>





    </form>
  </mat-card-content>
</mat-card>
<app-footer></app-footer>
