

<div>
  <!-- Photo de l'entreprise-->
  <div class="parent " style="width: 100%; overflow: hidden;">
   <!-- <img class="img-fluid " src="assets/resto.jpg" style="width: 101%; height: 130px;" alt="photo entreprise"/>
   -->
   <ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/resto.jpg" alt="Angular Carousel 1" width="100%" class="img-fluid">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/resto.jpg" alt="Angular Carousel 2" width="100%" class="img-fluid">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
  </ngb-carousel>

    <button style=" display: flex;
    justify-content: center;
    align-items: center; z-index:20
        " class="close"  (click)="close()">
      <img class="img-fluid clear-logo"  src="assets/icon-clear.svg" alt="fermer" />

    </button>
  </div>

  <!-- Bloc contenant les informations de l'entreprise-->
   <div class="container" style="margin-top: 20px;margin-left: 20px;">

    <!-- Nom et catégorie de l'entreprise-->
    <div class=" clearfix">
      <div class="pull-left" style="font-weight: normal;">Nom établissment</div>
      <div class="pull-right" style="font-family:OpenSans light ;">catégorie</div>
    </div>

    <!-- Moyen de contacter et de partager les infos sur l'entreprise-->
    <div class="container" style="margin-top: 10px;margin-bottom: 10px;margin-left: -20px;">


      <div class="item">
        <button style=" padding:1px;height:26px; border: thin solid #05BF95;border-radius: 5px;background-color: white;">
          <img src="assets/button/icon-tel.svg" style="width: 75%; cursor:pointer"/>


      </button>
        <span class="caption">Contacter</span>
    </div>

    <div class="item">
      <button style=" padding:1px;height:26px;border: thin solid #05BF95;border-radius: 5px;background-color: white;">
        <img src="assets/button/icon-action-vignette-itinéraire.svg" style="color:black;width: 75%;cursor:pointer;"/>

        </button>


        <span class="caption">Itinéraire</span>
    </div>

  <div class="item">
    <button style=" padding:1px;height:26px; border: thin solid #05BF95;border-radius: 5px;background-color: white;">
      <img matPrefix src="assets/button/icon-action-vignette-partager.svg"style="width: 75%; cursor:pointer">

      </button>


    <span class="caption">Partager</span>
</div>


<div class="item">
  <button style="  padding:1px;height:26px;border: thin solid #05BF95;border-radius: 5px;background-color: white;">
    <img (click)=" alert1()" src="assets/button/icon-action-vignette-enregistrer.svg" style="width:75%;cursor: pointer;">

  </button>


  <span class="caption">Enregistrer</span>
</div>



    </div>

<hr align="left" style="margin-left: -10px;margin-right: -20px;"/>


<!-- Informations d'ouverture et adresse de l'entreprise-->
    <div class="container" style="margin-top: 10px;margin-bottom: 10px;font-family:OpenSans light ;margin-left: -20px;">


        <img class="img-fluid" src="assets/button/icon-time.svg" alt=""  style="    margin-top: -3px;width: 20px; float:left;"/>

      <div style="display: inline-block;">
        <p> ouvert maintenant:  08:30 - 19:30</p>
        <p >ouvert maintenant:  08:30 - 19:30</p>
      </div>

      <div>
        <img class="img-fluid" src="assets/button/icon-position-pin.svg" alt=""  style="    margin-top: -3px; width:20px;float:left;"/>


        <p >Rue de Melen, face Polytech et à côté l'hôtel "le Résidence" </p>

      </div>


      <div>
        <img class="img-fluid" src="assets/button/icon-time.svg" alt=""  style="    margin-top: -3px;width: 20px; float:left;"/>


        <p>www.position.cm </p>

      </div>



  </div>

<hr align="left" style="margin-left: -10px;margin-right: -20px;"/>
  <!-- Présentation de l'entreprise-->

  <div class="container" style="margin-left:-10px;margin-top: 10px;margin-bottom: 20px;font-family:OpenSans light ;">

     <span>Présentation</span>
     <p style=" text-align: justify;
     text-justify: inter-word;margin-right: 15px;">
      Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.
     </p>

  </div>

    </div>
  </div>




