<div class="footer">
 <!-- <mat-form-field appearance="fill" class="language_button" disableOptionCentering panelClass="myPanelClass" >
    <mat-label>Choisir votre langue</mat-label>
    <mat-select (selectionChange)="change_language($event)" >
      <mat-option *ngFor="let lang of avaible_language" value="lang.code" >
         {{lang.name}} </mat-option>
    </mat-select>
  </mat-form-field>-->
  <mat-form-field appearance="fill">
    <mat-label>Choisir langue</mat-label>
    <select >
      <option value="volvo">Français</option>
      <option value="saab">Anglais</option>

    </select>
  </mat-form-field>
  <img class="img-fluid" src="assets/icon-help.svg"/>
</div>
