<div *ngIf="current_label === 'Ajouter le profil'" class="center-step">
  Ajouter le profil

</div>
<div *ngIf="current_label === 'Ajouter la description'" class="center-step">
  Ajouter la description

</div>
<div *ngIf="current_label === 'adresse'" class="center-step">
  Ajouter l'adresse
</div>
<div *ngIf="current_label === 'Ajouter le contact'" class="center-step">
  Ajouter le contact

</div>
<div *ngIf="current_label === 'Ajouter les horaires'" class="center-step">
  Ajouter les horaires
</div>
<div *ngIf="current_label === 'Ajouter les photos'" class="center-step">
  Ajouter les photos

</div>
<button style=" display: flex;
justify-content: center;
align-items: center;
    " class="close" mat-mini-fab disabled aria-label="Example icon button with a home icon">
  <img class="img-fluid clear-logo"  src="assets/icon-clear.svg" alt="fermer" (click)="close()"/>

</button>
<mat-progress-bar value="{{progressBarValue}}" style="height: 10px;background-color: gray;"></mat-progress-bar>

<mat-stepper linear #stepper >
  <mat-step [stepControl]="firstFormGroup" >
    <form id="msform" class="form" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Ajouter le profil</ng-template>
      <div class="field">
        <mat-label class="fieldlabels">Nom de l'établissement</mat-label>

      </div>
      <mat-form-field class="container-fluid" >
        <input matInput type="text"   class="form-control"  formControlName="nomEtablissement" name="nomEtablissement" placeholder="" />

        </mat-form-field>


    <div class="field">
      <mat-label class="fieldlabels">Catégorie</mat-label>
    </div>
    <mat-form-field class="container-fluid">
      <input matInput type="text" class="form-control"  formControlName="categorie" name="categorie" placeholder="" />

    </mat-form-field>

    <div class="">
      <mat-label class="fieldlabels">Sous-catégorie</mat-label>
    </div>
    <mat-form-field appearance="fill" class="container-fluid" style="height: 30px;border: 1px solid black;text-align: center;">
      <mat-label>---</mat-label>
      <mat-select>
        <mat-option>kkkk</mat-option>
        <mat-option>jjjjj</mat-option>
        <mat-option>ffffd</mat-option>
      </mat-select>
    </mat-form-field>


      <div style="margin-top: 30px;text-align: center;">
        <button class="btn-sm" mat-raised-button  class=" btn-connexion" (click)="close()">Annuler</button>
        <button class="next action-button" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" >
    <form id="msform" class="form" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Ajouter la description</ng-template>
      <div>
        <mat-label class="fieldlabels">Description</mat-label>

      </div>
      <textarea type="text" id="form7"formControlName="description" class="md-textarea form-control md-textarea-auto" mdbInput></textarea>


      <div class="buttons-group">
        <button  class="previous action-button-previous" mat-button matStepperPrevious>Précédent</button>
        <button  class="next action-button" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="adresseFormGroup" >
    <form id="msform" class="form" [formGroup]="adresseFormGroup">
      <ng-template matStepLabel>Ajouter l'adresse</ng-template>
      <div class="field">
        <mat-label class="fieldlabels">Adresse</mat-label>

      </div>
      <mat-form-field class="container-fluid" >
        <input matInput type="text"   class="form-control"  formControlName="adresse" name="nomEtablissement" placeholder="" />

        </mat-form-field>
        <div class="row">
          <div class="col-5">
            <div class="field">
              <mat-label>Code postal</mat-label>
            </div>

            <mat-form-field class="container-fluid" >
              <input matInput type="text"   class="form-control"  formControlName="codePostal" name="nomEtablissement" placeholder="" />

              </mat-form-field>
          </div>

          <div class="col-6 ml-2">
              <div class="field">
                <mat-label>Ville</mat-label>
              </div>

            <mat-form-field class="container-fluid" >
              <input matInput type="text"   class="form-control"  formControlName="ville" name="nomEtablissement" placeholder="" />

              </mat-form-field>
          </div>
        </div>

          <mat-label class="fieldlabels">Indications</mat-label>


        <textarea type="text" id="form7" formControlName="indication" class="md-textarea form-control md-textarea-auto" mdbInput></textarea>

      <div class="buttons-group">
        <button class="previous action-button-previous" mat-button matStepperPrevious>Précédent</button>
        <button class="next action-button" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="contactFormGroup" >
    <form id="msform" class="form" [formGroup]="contactFormGroup">
      <ng-template matStepLabel>Ajouter le contact</ng-template>
      <div class="field">
        <mat-label class="fieldlabels">Site internet(url)</mat-label>

      </div>
      <mat-form-field class="container-fluid" >
        <input matInput type="text"   class="form-control"  formControlName="siteInternet" name="nomEtablissement" placeholder="" />

        </mat-form-field>


        <div class="field">
          <mat-label class="fieldlabels">Téléphone 1</mat-label>

        </div>
        <mat-form-field class="container-fluid" >
          <input matInput type="text"   class="form-control"  formControlName="telephone1" name="nomEtablissement" placeholder="" />

          </mat-form-field>
          <div style="    margin-top: -40px;
          margin-bottom: 20px;">
            <mat-checkbox formControlName="Tel1coche" class="example-margin" [(ngModel)]="checked">Whatsapp installé</mat-checkbox>

          </div>

          <div class="field">
            <mat-label class="fieldlabels">Téléphone 2</mat-label>

          </div>
          <mat-form-field class="container-fluid" >
            <input matInput type="text"   class="form-control"  formControlName="telephone2" name="nomEtablissement" placeholder="" />

            </mat-form-field>
            <div style="    margin-top: -40px;
            margin-bottom: 20px;">
                <mat-checkbox formControlName="Tel2coche" class="example-margin" [(ngModel)]="checked">Whatsapp installé</mat-checkbox>

            </div>

        <div class="buttons-group">
          <button class="previous action-button-previous" mat-button matStepperPrevious>Précédent</button>
          <button class="next action-button"  mat-button matStepperNext>Suivant</button>
        </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="horaireFormGroup" >
    <form id="msform" class="form" [formGroup]="horaireFormGroup">
      <ng-template matStepLabel>Ajouter les horaires</ng-template>
      <div class="row jour">

       <p class="day">Lun</p>
        <mat-form-field   style="width:70px;margin-left: 40px;" class="ml-4">
          <input matInput type="text"   class="form-control"  formControlName="heureOuvertlun" name="heureOuvertlun" placeholder="" />

          </mat-form-field>

        <mat-form-field  style="width:70px;margin-left: 20px;">
          <input style="padding:0px" matInput type="text"   class="form-control"  formControlName="heureFermelun" name="heureFermelun" placeholder="" />

          </mat-form-field>


    </div>
    <div class="row jour">

      <p class="day">
        Mar
      </p>

      <mat-form-field style="width:70px;margin-left: 40px;" class="ml-4">
        <input matInput type="text"   class="form-control"  formControlName="heureOuvertmar" name="heureOuvertmar" placeholder="" />

        </mat-form-field>

      <mat-form-field style="width:70px;margin-left: 20px;">
        <input style="padding:0px" matInput type="text"   class="form-control"  formControlName="heureFermemar" name="heureFermemar" placeholder="" />

        </mat-form-field>


  </div>
  <div class="row jour">

    <p class="day">
     Mer
      </p>

    <mat-form-field  style="width:70px;margin-left: 40px;" class="ml-4">
      <input matInput type="text"   class="form-control"  formControlName="heureOuvertmer" name="heureOuvertmer" placeholder="" />

      </mat-form-field>

    <mat-form-field  style="width:70px;margin-left: 20px;">
      <input style="padding:0px" matInput type="text"   class="form-control"  formControlName="heureFermemer" name="heureFermemer" placeholder="" />

      </mat-form-field>


</div>
<div class="row jour">

  <p class="day">
    Jeu
  </p>

  <mat-form-field style="width:70px;margin-left: 40px;" class="ml-4">
    <input matInput type="text"   class="form-control"  formControlName="heureOuvertjeu" name="heureOuvertjeu" placeholder="" />

    </mat-form-field>

  <mat-form-field  style="width:70px;margin-left: 20px;">
    <input style="padding:0px" matInput type="text"   class="form-control"  formControlName="heureFermejeu" name="heureFermejeu" placeholder="" />

    </mat-form-field>


</div>
<div class="row jour">

<p class="day">
  Ven
</p>

<mat-form-field style="width:70px;margin-left: 40px;" class="ml-4">
  <input matInput type="text"   class="form-control"  formControlName="heureOuvertven" name="heureOuvertven" placeholder="" />

  </mat-form-field>

<mat-form-field style="width:70px;margin-left: 20px;">
  <input style="padding:0px" matInput type="text"   class="form-control"  formControlName="heureFermeven" name="heureFermeven" placeholder="" />

  </mat-form-field>


</div>
<div class="row jour">

<p class="day">
  Sam
</p>

<mat-form-field style="width:70px;margin-left: 40px;" class="ml-4">
<input matInput type="text"   class="form-control"  formControlName="heureOuvertsam" name="heureOuvertsam" placeholder="" />

</mat-form-field>

<mat-form-field style="width:70px;margin-left: 20px;">
<input style="padding:0px" matInput type="text"   class="form-control"  formControlName="heureFermesam" name="heureFermesam" placeholder="" />

</mat-form-field>


</div>
<div class="row jour">

<p class="day">
  Dim
</p>

<mat-form-field style="width:70px;margin-left: 40px;" class="ml-4"> 
<input matInput type="text"   class="form-control"  formControlName="heureOuvertdim" name="heureOuvertdim" placeholder="" />

</mat-form-field>

<mat-form-field style="width:70px;margin-left: 20px;">
<input style="padding:0px" matInput type="text"   class="form-control"  formControlName="heureFermedim" name="heureFermedim" placeholder="" />

</mat-form-field>


</div>


      <div class="buttons-group">
        <button class="previous action-button-previous" mat-button matStepperPrevious>Précédent</button>
        <button class="next action-button" mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Ajouter les photos</ng-template>
    <div class="row">

      <div class="text-center col-6" style="width: 130px;
     border: 1px gray solid;
     padding: 12px;
     border-radius: 12px;">

         <div style="margin-left: -10px;">
          <img class="img-fluid" src="assets/icon-medias.svg" alt=""/>
          <p>Ajouter une photo</p>
         </div>
     </div>
     <div class="text-center col-6 offset-lg-4" style="width: 150px;
     border: 1px gray solid;
     padding: 12px;
     border-radius: 12px;">

          <img class="img-fluid" src="assets/icon-medias.svg" alt=""/>
          <p>Ajouter une photo</p>
     </div>
     <div class="text-center col-6" style="width: 150px;
     border: 1px gray solid;
     padding: 12px;
     border-radius: 12px;">

          <img class="img-fluid" src="assets/icon-medias.svg" alt=""/>
          <p>Ajouter une photo</p>
     </div>
     </div>





    <div class="buttons-group">
      <button class="previous action-button-previous" mat-button matStepperPrevious>Précédent</button>
      <button class="next action-button" mat-button (click)="submit()">Soumettre</button>
    </div>
  </mat-step>
</mat-stepper>
