/* You can add global styles to this file, and also import other style files */

@import './app/styles/ol.scss';
@import 'assets/font/open_sans/style.scss';
html,
body {
  height: 100%;

}

body {
  margin: 0;
  font-family: 'OpenSans semibold';
  font-size:10px;

}

