<div  class="container categories" *ngIf="(deviceDetector.isDesktopDevice || deviceDetector.isTablet) && !isloading">
  <p style="color:black;font-family:OpenSans bold;margin-top: 10px; text-align: center;font-size: 12px;">  Categories</p>
  <div  fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="flex-start">





      <button mat-button fxFlex="1 0 auto" >
        <mat-icon svgIcon="achats" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Achats</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="loisirs" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Loisirs</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="restosbars" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Resto/bar</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="sante" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Santé</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="tourisme" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Tourisme</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="automobile" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Auto & moto</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="alimentation" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Alimentation</span>
      </button>




      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="administration" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Administration</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="education" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Formation</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="banques" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Finance</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="immobilier" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Immobilier</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="transport" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Transports</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="batiments" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Construction</span>
      </button>


      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="justice" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Justice</span>
      </button>



      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="communication" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Communication</span>
      </button>

      <button mat-button>
        <mat-icon svgIcon="agriculture" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Agriculture</span>
      </button>


      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="petrole" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Hydrocarbures</span>
      </button>


      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="energie" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Energie</span>
      </button>

       <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="industrie" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Industries</span>
      </button>


      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="nouvellesTechnologies" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Technologies</span>
      </button>

      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="telecom" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black">Telecom</span>
      </button>

      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="commerce" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Commerce</span>
      </button>

      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="securite" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Sécurité</span>
      </button>

      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="textile" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Textile</span>
      </button>

      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="eau" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Eau</span>
      </button>

      <button mat-button fxFlex="1 0 auto">
        <mat-icon svgIcon="bienetre" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span style="color: black;">Bien-être</span>
      </button>


  </div>
</div>

<div  class="mobileListeView" *ngIf="deviceDetector.isMobile" style="margin-top: 20px;">
  <div class="scrolling-wrapper " >





    <button mat-button  >
      <mat-icon svgIcon="achats" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Achats</span>
    </button>



    <button mat-button >
      <mat-icon svgIcon="loisirs" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Loisirs</span>
    </button>



    <button mat-button >
      <mat-icon svgIcon="restosbars" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Resto/bar</span>
    </button>



    <button mat-button>
      <mat-icon svgIcon="sante" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Santé</span>
    </button>



    <button mat-button >
      <mat-icon svgIcon="tourisme" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Tourisme</span>
    </button>



    <button mat-button>
      <mat-icon svgIcon="automobile" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Auto & moto</span>
    </button>



    <button mat-button >
      <mat-icon svgIcon="alimentation" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Alimentation</span>
    </button>




    <button mat-button >
      <mat-icon svgIcon="administration" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Administration</span>
    </button>



    <button mat-button >
      <mat-icon svgIcon="education" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Formation</span>
    </button>



    <button mat-button >
      <mat-icon svgIcon="banques" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Finance</span>
    </button>



    <button mat-button >
      <mat-icon svgIcon="immobilier" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Immobilier</span>
    </button>



    <button mat-button >
      <mat-icon svgIcon="transport" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Transports</span>
    </button>



    <button mat-button >
      <mat-icon svgIcon="batiments" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Construction</span>
    </button>


    <button mat-button >
      <mat-icon svgIcon="justice" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Justice</span>
    </button>



    <button mat-button>
      <mat-icon svgIcon="communication" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Communication</span>
    </button>

    <button mat-button>
      <mat-icon svgIcon="agriculture" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Agriculture</span>
    </button>


    <button mat-button fxFlex="1 0 auto">
      <mat-icon svgIcon="petrole" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Hydrocarbures</span>
    </button>


    <button mat-button >
      <mat-icon svgIcon="energie" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Energie</span>
    </button>

     <button mat-button >
      <mat-icon svgIcon="industrie" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Industries</span>
    </button>


    <button mat-button >
      <mat-icon svgIcon="nouvellesTechnologies" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Technologies</span>
    </button>

    <button mat-button >
      <mat-icon svgIcon="telecom" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black">Telecom</span>
    </button>

    <button mat-button >
      <mat-icon svgIcon="commerce" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Commerce</span>
    </button>

    <button mat-button >
      <mat-icon svgIcon="securite" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Sécurité</span>
    </button>

    <button mat-button >
      <mat-icon svgIcon="textile" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Textile</span>
    </button>

    <button mat-button >
      <mat-icon svgIcon="eau" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Eau</span>
    </button>

    <button mat-button >
      <mat-icon svgIcon="bienetre" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
      <span style="color: black;">Bien-être</span>
    </button>


</div>
</div>
